body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.loader {
  font-size: 20px;
  width: 100%;
  color: green;
  font-weight: 700;
  position: relative;
  top: 100%;
  height: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.loader ::after {
  width: 10px;
  content: '';
  background-color: aqua;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 6px solid green;
  animation: loader;
}
@keyframes loader {
  0% {
    left: 50px;
  }
  100% {
    left: 100px;
  }
}
